<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
            学神CMDB
        {% endblock %}
    </title>
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!--  Toastr_Js  -->
    <script src="/static/vendor/toastr/toastr.js"></script>

    <!--  Toastr_CSS -->
    <link href="/static/vendor/toastr/toastr.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- BootStrap-modal -->
    <script src="/static/vendor/bootstrap/js/bootstrap-modal.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    {% block style %}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index_bak.html">
                    {% block logo %}
                        学神CMDB
                    {% endblock %}
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>
                            个人中心
                        </a>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#userRegister"><i class="fa fa-gear fa-fw"></i>
                            添加用户
                        </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>
                            登出
                        </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="查询...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index_bak.html"><i class="fa fa-dashboard fa-fw"></i>
                                用户
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
                                服务器
                                <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'eqList' %}">
                                        工作中的服务器
                                    </a>
                                </li>
                                <li>
                                    <a href="morris1.html">
                                        停止工作的服务器
                                    </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
                                日志
                                <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot3.html">
                                        用户日志
                                    </a>
                                </li>
                                <li>
                                    <a href="flot2.html">
                                        服务器日志
                                    </a>
                                </li>
                                <li>
                                    <a href="morris.html">
                                        接口日志
                                    </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i>
                                接口
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% block label %}
                            BASE
                        {% endblock %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% block content %}
                TEST
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<!-- 遮罩层 -->
<div class="modal fade" id="userRegister" tabindex="-1" role="dialog" aria-labelledby="OurRegisterModal">
    <!-- 外壳 -->
    <div class="modal-dialog" role="document">
        <!-- 内容区 -->
        <div class="modal-content">
            <!-- 头部区域 -->
            <div class="modal-header">
                <!-- 右边的X -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        X
                    </span>
                </button>
                <!-- Title区域 -->
                <h4 class="modal-title" id="OurRegisterTitle">
                    用户注册
                </h4>
            </div>
            <!-- 正文区域 -->
            <div class="modal-body">
                <!-- 提交内容当中有文件 -->
                <form id="fm" enctype="multipart/form-data">
                    <div class="Register" id="Register">
                        {{ register.as_p }}
                    </div>
                </form>
{#                <span id="error" style="color: red"></span>#}
            </div>
            <!-- 尾部区域 -->
            <div class="modal-footer">
                <input id="Register_submit" type="button" class="btn btn-parimary" value="提交">
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(
        function () {
            var register_valid= [];
            // 触发器，当失焦的时候，触发以下方法
            $("#id_phone").blur(
                function () {
                    // 获取input输入的值
                    var phone = $("#id_phone").val();
                    // 如果有值就开始ajax验证
                    if(phone){
                        $.ajax({
                            url:"/user/phone_valid/?phone=" + phone,
                            type:"get",
                            data:"",
                            success:function (data) {
                                type = data["type"];
                                if(type == "success"){
                                    if (register_valid.indexOf('phone') == -1){
                                        register_valid.push("phone")
                                        console.log(register_valid)
                                    }
                                }else {
                                    if (register_valid.indexOf('phone') != -1){
                                        register_valid.pop("phone")
                                        console.log(register_valid)
                                    }
                                }
                            },
                            error:function (error) {
                                console.log(error)
                            }
                        })
                    }else{
                        {#alert("手机号不能为空")#}
                        toastr.warning("手机号不能为空");
                    }
                }
            );
            $("#Register_submit").click(
                function () {
                    var sendData = new FormData();
                    sendData.append("username",$("#id_username").val());
                    sendData.append("password",$("#id_password").val());
                    sendData.append("email",$("#id_email").val());
                    sendData.append("phone",$("#id_phone").val());
                    sendData.append("photo",$("#id_photo")[0].files[0]);
                    sendData.append("csrfmiddlewaretoken","{{ csrf_token }}")
                    console.log(sendData.get("csrfmiddlewaretoken"));
                    //console.log(sendData.get('username'));
                    $.ajax({
                        url:"/user/register/",
                        type:"POST",
                        data:sendData,
                        // 不进行序列化
                        processData:false,
                        // 不进行类型检测
                        contentType:false,
                        success:function (data) {
                            type = data["type"];
                            if(type == "success"){
                                $("#id_username").val("");
                                $("#id_password").val("");
                                $("#id_email").val("");
                                $("#id_phone").val("");
                                $("#id_photo").val("");
                                {#$("#error").text("");#}
                                $("#userRegister").modal("hide")
                                toastr.success("添加用户成功");
                            }else {
                                Data = data["data"]
                                for(var key in Data){
                                    console.log(key)
                                    console.log(Data[key])
                                }
                                toastr.warning(key+Data[key]);
                                {#$("#error").text(Data[key])#}
                            }
                        },
                        error:function (error) {
                            console.log(error)
                        }
                    })
                }
            )
        }
    )
</script>