{% extends "base.html" %}



{% block style %}
    <script src="/static/vendor/vue/vue.js"></script>
    <script src="/static/vendor/vue/vue-resource.js"></script>
{% endblock %}

{% block label %}
    主机列表
{% endblock %}

{% block content %}
    <button class="btn btn-primary" style="margin-left: 15px" data-toggle="modal" data-target="#addEquipment">
        添加设备
    </button>

    <!-- 设备添加模态框 -->
    <div class="modal fade col-lg-6" id="addEquipment" tabindex="-1" role="dialog" aria-labelledby="OurAddEquipment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        X
                    </button>
                    <h4 class="modal-title" id="ourAddEquipment">
                        设备添加
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="addEq">
                        <input class="form-control" type="text" name="ipaddress" placeholder="ipaddress">
                        <br>
                        <input class="form-control" type="text" name="username" placeholder="username">
                        <br>
                        <input class="form-control" type="text" name="password" placeholder="password">
                        <br>
                        <input class="form-control" type="text" name="port" placeholder="port">
                    </form>
                </div>
                <div class="modal-footer">
                     <input id="Equipment_submit" type="button" class="btn btn-parimary" value="提交">
                </div>
            </div>
        </div>
    </div>
    {% verbatim myblock %}
    <div class="panel-body" id="pageSize">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th>主机名</th>
                <th>IP地址</th>
                <th>Mac地址</th>
                <th>系统信息</th>
                <th>运行状态</th>
            </tr>
            </thead>
            <tbody v-for="eq in pageData">
            <tr class="odd gradeX">
                <td>{{ eq.hostname }}</td>
                <td>{{ eq.ip }}</td>
                <td>{{ eq.mac }}</td>
                <td class="center">{{ eq.sys_version }}</td>
                <td class="center">OK</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pull-right" v-for="page in pageRange">
            <li>
                <a v-on:click="getPage(page)">{{ page }}</a>
            </li>
        </ul>
    </div>
    {% endverbatim myblock %}

    <script>
        //添加设备的ajax
        $(
            function () {
                $("#Equipment_submit").click(
                    function () {
                        datas = $("#addEq").serializeArray(); //获取form当中所有input的值
                        var dict = {};
                        $.each(datas, function () {
                            dict[this.name] = this.value;
                        });
                        dict['csrfmiddlewaretoken'] = "{{ csrf_token }}"
                        $.ajax(
                            {
                                url: '',
                                type: "post",
                                data: dict,
                                success:function (data) {

                                },
                                error:function(error) {
                                    console.log(error)
                                }
                            }
                        )
                    }
                )
            }
        );


        // 初始化使用的Vue，绑定使用VueResource
        Vue.use(VueResource);
        // newVue 其实就是new了一个VueResource
        new Vue(
            {
                // el绑定id，绑定了一个区域块
                el:"#pageSize",
                // 定义了我们的数据变量
                data: {
                    pageData:"",
                    pageRange:""
                },
                created:function () {
                    // ajax的请求方式 vueResource的写法
                    var url = "/eq/eqDatas/1";
                    // 使用get请求 ajax的方式请求url,请求到了，只要状态码是200 全部视为成功，否则error
                    this.$http.get(url).then(
                        // 定义了一个方法
                        function (resone) {
                            ourData = resone.data.result;
                            ourPage = resone.data.Prange;

                            this.pageData = ourData;
                            this.pageRange = ourPage;
                        },
                        function (error) {
                            // 如果请求状态码出现异常，就直接错误打印到控制台
                            console.log(error)
                        }
                    )
                }, //初始化执行该函数，类似python的__init__
                methods: {
                    getPage: function (page) {
                        var url = "/eq/eqDatas/" + page;
                        this.$http.get(url).then(
                            function (resone) {
                                ourData = resone.data.result;
                                ourPage = resone.data.Prange;

                                this.pageData = ourData;
                                this.pageRange = ourPage;
                            },
                            function (error) {
                                console.log(error)
                            }
                        )
                    }
                }
            }
        )
    </script>

{% endblock %}